.search-page {
  width: calc(100% - .15rem);
  position: absolute;
  top: 0;
  background-color: white;
  padding: 0.08rem 0 0.08rem 0.15rem;
  padding-right: 0;
  z-index: 999;
}

.search-input {
  z-index: 999;
  padding-left: .125rem;
  height: 0.28rem;
  background-color: #f1f1f1;
  text-align: left;
  align-items: center;
  flex: 1;
  border-radius: 0.03rem;
}

.searchInput-class {
  border: none;
  background-color: #f1f1f1;
  flex: 1;
}

.am-list .am-list-item:first-child {
  background-size: 0 0, .15rem 1px, 100% 0px, 100% 1px
}

.search-button {
  text-align: center;
  color: #108EE9;
  width: .61rem;
  font-size: .16rem;
  height: .28rem;
  line-height: .28rem;
}

.noResult-class {
  color: #ddd;
  text-align: center;
}
